# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

### ans

MongoDB is a popular NoSQL (non-relational) database that provides a flexible and scalable way to store and manage data. Unlike traditional SQL databases, which are based on a tabular structure with predefined schemas, MongoDB uses a document-oriented model. In MongoDB, data is stored in flexible JSON-like documents, allowing for more dynamic and complex data structures.

### Important points about non-relational databases are:

* Schema Flexibility: Non-relational databases like MongoDB do not require a fixed schema. This means we can store data without having to define its structure beforehand, providing greater flexibility, especially in scenarios where data structures may evolve over time.

* Scalability: Non-relational databases are designed for easy horizontal scaling across multiple servers. This makes them well-suited for handling large volumes of data and high levels of concurrent traffic.

* High Performance: They often offer high performance for certain types of operations, particularly those involving the retrieval and storage of large amounts of unstructured or semi-structured data.

* Complex Data Models: Non-relational databases are excellent at handling complex data models, including nested data, arrays, and other hierarchical structures.

### When to use MongoDB over SQL databases:

* High Volume of Unstructured Data: If we are dealing with large volumes of unstructured or semi-structured data, MongoDB can be a good choice. It's designed to handle this type of data efficiently.

* Frequent Schema Changes: If our application requires frequent changes to the data schema, MongoDB's flexible document model can accommodate this without the need for costly and time-consuming migrations.

* Real-Time Analytics: In scenarios where we need to perform real-time analytics on large datasets, MongoDB's ability to distribute data across multiple nodes can be advantageous.

* Horizontal Scalability: If we anticipate the need for significant scalability, MongoDB's ability to scale horizontally (across multiple servers) makes it a strong contender.

* Quick Prototyping and Development: MongoDB can be a good choice for rapid prototyping and development, as it doesn't require defining a fixed schema.

* Complex Relationships and Hierarchies: If your data has complex relationships or hierarchies, MongoDB's document-oriented model can be more intuitive to work with compared to the tabular structure of SQL databases.

# Q2. State and Explain the features of MongoDB.

### ans

MongoDB, as a popular NoSQL database, offers several features that distinguish it from traditional relational databases. 

### Some important features of MongoDB are:

* Document-Oriented Model:
  * MongoDB stores data in flexible, JSON-like documents, allowing for dynamic and complex data structures.
  * Documents can be nested, containing fields or arrays of values.

* Schemaless Design:
  * MongoDB doesn't require a predefined schema, providing greater flexibility in data modeling.
  * This allows for easy adaptation to evolving data structures.

* High Scalability:
  * MongoDB is designed for horizontal scalability, enabling it to handle large volumes of data and high traffic loads.
  * It can distribute data across multiple servers or clusters.

* High Performance:
  * MongoDB is optimized for high-speed read and write operations, especially for large volumes of unstructured or semi-structured data.
  * It uses memory-mapped files for efficient data access.

* Automatic Failover:
  * In a replica set, if the primary node fails, MongoDB automatically elects a new primary node, ensuring continuous operation.

* Sharding for Horizontal Scaling:
  * MongoDB uses sharding to distribute data across multiple servers, allowing it to handle large datasets and high concurrency.
  * Sharding is useful for scenarios where vertical scaling (upgrading server capacity) is impractical or costly.

* Indexing for Performance Optimization:
  * MongoDB allows for the creation of various types of indexes, which significantly improve query performance by allowing for faster data retrieval.

* Aggregation Framework:
  * MongoDB offers a powerful aggregation framework for performing complex data processing operations, including grouping, filtering, and transforming data.

* Flexible Data Modeling:
  * It supports a wide range of data types and allows for embedding documents within one another, facilitating the modeling of complex relationships.

# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

### ans

To connect MongoDB to Python, we will need to have the pymongo library installed. If we haven't installed it yet, we can do so using pip.

In [20]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.5.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pymongo

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://shyam:sundar@cluster0.kmm4ipu.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [23]:
db=client['pwskills']
coll_create = db["my_record"]
data = {"name" : "shyam",
        "class" : "data science masters ",
        "timing " : "flexi"
}
coll_create.insert_one(data)

In [25]:
 data1 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

coll_create.insert_many(data1)

In [34]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

coll_create.insert_many(random_data)

# Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [35]:
# Insert one record
data3 = {"name": "John Doe",
         "email": "john@example.com",
         "age": 30
        }
coll_create.insert_one(data3)

In [36]:
# Insert many records
data4 = [
    {"name": "Jane Doe", "email": "jane@example.com", "age": 28},
    {"name": "James Smith", "email": "james@example.com", "age": 35},
    {"name": "Jill Johnson", "email": "jill@example.com", "age": 32}
]

coll_create.insert_many(data4)

In [37]:
# Uses find({}) to retrieve all records in the collection and prints them.
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6509370abd846663825b608a'), 'name': 'shyam', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('65093720bd846663825b608b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65093720bd846663825b608c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65093720bd846663825b608d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65093720bd846663825b608e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65093720bd846663825b608f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65093720bd846663825b6090'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65093720bd846663825b6091'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65093720bd846663825b6092'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65093720bd846663825b6093'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65093720bd846663825b6094'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65093720bd846663825b6095'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65093720bd846663825b6096'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65093735bd846663825b6097'), 'name': 'John Doe', 'email': 'john@example.com', 'age': 30}
{'_id': ObjectId('65093736bd846663825b6098'), 'name': 'Jane Doe', 'email': 'jane@example.com', 'age': 28}
{'_id': ObjectId('65093736bd846663825b6099'), 'name': 'James Smith', 'email': 'james@example.com', 'age': 35}
{'_id': ObjectId('65093736bd846663825b609a'), 'name': 'Jill Johnson', 'email': 'jill@example.com', 'age': 32}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}
{'_id': ObjectId('65093e7bbd846663825b609b'), 'name': 'John Doe', 'email': 'john@example.com', 'age': 30}
{'_id': ObjectId('65093e7dbd846663825b609c'), 'name': 'Jane Doe', 'email': 'jane@example.com', 'age': 28}
{'_id': ObjectId('65093e7dbd846663825b609d'), 'name': 'James Smith', 'email': 'james@example.com', 'age': 35}
{'_id': ObjectId('65093e7dbd846663825b609e'), 'name': 'Jill Johnson', 'email': 'jill@example.com', 'age': 32}

In [56]:
# Uses find_one() to retrieve one record where the name is "John Doe" and prints it.
coll_create.find_one()

{'_id': ObjectId('6509370abd846663825b608a'),
 'name': 'shyam',
 'class': 'data science masters ',
 'timing ': 'flexi'}

# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

### ans

The find() method in MongoDB is used to retrieve documents from a collection. It allows us to specify criteria to filter the documents we want to retrieve. we can also use various options to control the way the results are returned, such as limiting the number of documents, skipping a certain number of documents, and sorting the results.

Some uses of find() method are:

In [57]:
# Filtering Documents: we can use a query object to filter documents based on specific criteria. 
# For example, to find company with an _id >=4:

for i in coll_create.find({'_id': {'$gte':'4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [58]:
# Filtering Documents: we can use a query object to filter documents based on specific criteria. 
# For example, 

for i in coll_create.find({'name':'Jane Doe'}):
    print(i)

{'_id': ObjectId('65093736bd846663825b6098'), 'name': 'Jane Doe', 'email': 'jane@example.com', 'age': 28}
{'_id': ObjectId('65093e7dbd846663825b609c'), 'name': 'Jane Doe', 'email': 'jane@example.com', 'age': 28}

In [59]:
# Filtering Documents: Find all the records where companyName is iNeuron
# For example, 

for i in coll_create.find({'companyName':'iNeuron'}):
    print(i)

{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

### ans

The sort() method in MongoDB is used to order or arrange the documents in a collection based on specific criteria. It allows us to retrieve data in a specific order, which can be either ascending or descending.

The basic syntax of the sort() method is:

In [ ]:
db.collection_name.find().sort({field: order})

* Explanation of syntax are:

  * db: is the database.
  * collection_name: The name of the collection we want to retrieve documents from.
  * find(): This method is used to retrieve documents from the collection.
  * sort(): This method is used to specify the sorting criteria.
  * {field: order}: An object where field is the field we want to sort by, and order specifies the sorting order (1 for ascending, -1 for descending).
  
Here's an example to demonstrate sorting in MongoDB are:

### Suppose we have a collection called "users" with the following documents:
[
    {"name": "Alice", "age": 30},
    {"name": "Bob", "age": 25},
    {"name": "Charlie", "age": 35}
]

1. Sort by Age in Ascending Order:
  * db.users.find().sort({"age": 1})
* Result:
  * [
    {"name": "Bob", "age": 25},
    {"name": "Alice", "age": 30},
    {"name": "Charlie", "age": 35}
]


2. Sort by Age in Descending Order:
  * db.users.find().sort({"age": -1})
* Result:
  * [
    {"name": "Charlie", "age": 35},
    {"name": "Alice", "age": 30},
    {"name": "Bob", "age": 25}
]

# Q7. Explain why delete_one(), delete_many(), and drop() is used.

### ans

In MongoDB, the methods delete_one(), delete_many(), and drop() are used for different purposes related to removing documents or collections from a database.

### 1. delete_one():
delete_one() is used to remove a single document that matches a specified filter criteria from a collection.

### # Syntax:    db.collection_name.delete_one(filter)

Explanation:

* collection_name: The name of the collection from which to remove a document.

* filter: A query filter to identify which document(s) should be deleted. Only the first matching document will be removed.

In [ ]:
# Example:
db.users.delete_one({name: "John Doe"})

### 2. delete_many():
delete_many() is used to remove multiple documents that match a specified filter criteria from a collection.

### # Syntax:  db.collection_name.delete_many(filter)

Explanation:
* collection_name: The name of the collection from which to remove documents.

* filter: A query filter to identify which document(s) should be deleted. All matching documents will be removed.

In [ ]:
#Example:
db.users.delete_many({age: {$gte: 30}})

### 3. drop():
drop() is used to remove an entire collection, effectively deleting all documents within that collection.

### # Syntax:  db.collection_name.drop()

Explanation:
* collection_name: The name of the collection we want to drop.

In [ ]:
#Example:
db.users.drop()