### Q1. How do you comment code in Python? What are the different types of comments?

A comment is a part of coding files that a programmer does not want to execute. Programmers use it either to explain a block of code or to avoid the execution of a specific part of code while running.

The different types of comments are:

1. Single line comment: These comment are used for explanation of single line code.
   We use the "#" symbol for single line comment.

In [4]:
# This is a "Single line comment"
print("I want to become a data science engineer.")

I want to become a data science engineer.

2. Multiline comments(Docstrings): These comments are used when we want to comment on more than one line, or we can say multiple lines.
We use tripple quotes (it may be single quotes(''' ''') or double quotes(""" """)).

In [5]:
'''Hey shyam, keep motivated
   Teacher: Sudhanshu kumar and Krish naik
   Course: Data Science 2.0 '''
print("Hey, I am good teacher.")

Hey, I am good teacher.

### Q2. What are variables in Python? How do you declare and assign values to variables?
Variables is like a container that hold data, very similar to container in kitchen hold sugar and salt etc. creating variables like creating placeholder in memory and assigning it some value.  Variables allow us to store various types of data such as numbers, strings, lists etc.

we can declare and assign value to variables are:

In [2]:
# Assigning integer values
age = 25
birth = 1998

# Assigning string values
name = "Shyam sundar mahto"
occupation = "Data Science Engineer"

# Assigning floating-point values
g = 9.81

# Assigning boolean values
student = True
teacher = False

# Assigning List values
integer=[1,2,3,4,5,6]

# Assigning Tuple values
even_number=(2,4,6,8,10)

### Q3. How do you convert one data type to another in Python?

Converting one data type into another data type called "Typecasting".
There are two types of Typecasting:
1. Explicit conversion
2. Implicit conversion

Here some examples of Typecasting are:

In [6]:
# Converts 7.85 to 7
float_num = 7.85
int_num = int(float_num)    # Data type of int_num is integer. 

# Converts 10 to 10.0
int_num = 10
float_num = float(int_num)  # Data type of float_num is float. 


# Converts 42 to "42"
number = 42
text = str(number)          # Data type of text is string.

### Q4. How do you write and execute a Python script from the command line?

### ans
we can write and execute Python code in Jupyter Notebook are as follows:

1. Create a New Notebook or Open an Existing One:

* Open Jupyter Notebook by running the command jupyter notebook in command prompt or terminal.
* Then create a new notebook by clicking on "New" and selecting "Python 3 (ipykernel)".Alternatively,we can     open existing notebook by clicking on its name in the Jupyter Dashboard.

2. Write Code in Cells:

* A notebook consists of cells. Click on cell to select it, and then it will be highlighted.To write code in   a cell, simply start typing. For example:

In [30]:
print("Shyam Sundar Mahto")

3. Execute Code Cells:

* To execute code in  cell, we can either press "Shift + Enter" while the cell is selected or click the         "Run" button in the toolbar at top of the notebook.
* The code in the cell will be executed, and the output will be displayed immediately below the cell.

4. Create and Execute Additional Cells:

* we can create new cells by clicking "+" button in the toolbar or by using keyboard shortcut B (for   inserting a cell below the current cell) or A (for inserting a cell above the current cell).

* we can also delete cells using the "Edit" menu or the "X" button in the toolbar.

### Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].
### ans

In [28]:
# The code to slice the list and obtain the sub-list [2, 3].
my_list=[1,2,3,4,5]

my_list[1:3]

[2, 3]

### Q6. What is a complex number in mathematics, and how is it represented in Python?
     
A complex number is a number that comprises both a real part and an imaginary part. It is written in form  of "a + bj".

where  "a" is the real part  
       "b" is the imaginary part and  
       "j" represents the imaginary unit (i.e, sqr root of -1)

In [17]:
# Ex:-
complex_num=4+6j
#Accessing real and imaginary parts
real_part = complex_num.real         # 4
imaginary_part = complex_num.imag    # 6
print(type(complex_num))
print(real_part)
print(imaginary_part)

<class 'complex'>
4.0
6.0

### Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [18]:
# The correct way to declare a variable named age and assign the value 25 is given below
age=25
type(age)

int

### Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [19]:
price=9.99
# The "price" belong to float data type.
type(price)

float

### Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [21]:
name="Shyam Sundar Mahto"
# we can print the value name by using print statement
print(name)

Shyam Sundar Mahto

### Q10. Given the string "Hello, World!", extract the substring "World".

In [24]:
wel="Hello, World!"
# we can extract the substring "World!" as follows
wel[7:12]

'World'

### Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [27]:
is_student=True