# Assignment_1

Q1. Create one variable containing following type of data:

(i)	string

(ii) list

(iii) float

(iv) tuple

### Answer

In [3]:
a_1=["apple","shyam",["physisc",2,45],45.23,89.25,("skills",65,1001)]

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable

### Answer
i.  string

ii. string

iii. list

iv. float

Q3. Explain the use of the following operators using an example:

(i)	/

(ii) % 

(iii) //

(iv) **

### Answer

In [15]:
'''(i) / (Division operator) are used for dividing purpose and gives floating point result.'''
# ex:
55/2

27.5

In [16]:
'''(ii) % (Modulus operator) are used for finding modulus of number(i.e,remainder)'''
#ex:
55%2

1

In [17]:
'''(iii) // (Floor Division operator) are used to round the result down to nearest 
            whole number'''
#ex:
55//2

27

In [32]:
'''(iv) ** (Exponentiation or square operator) are used for finding square root of any number.'''
#ex:
55**2

3025

Q4. Create a list of length 10 of your choice containing multiple types of data. Using       for loop print the element and its data type.

In [20]:
a_2=[45,78,56,"Apple","Engineer","skill",45.2,56.2,(4,8),["name",1,5]]
for i in a_2:
    print(type(i),i)

<class 'int'> 45
<class 'int'> 78
<class 'int'> 56
<class 'str'> Apple
<class 'str'> Engineer
<class 'str'> skill
<class 'float'> 45.2
<class 'float'> 56.2
<class 'tuple'> (4, 8)
<class 'list'> ['name', 1, 5]

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so     then how many times it can be divisible.

In [1]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))

count = 0
while a % b == 0:
    a = a // b  
    count += 1
if a==0:    
    print(f"{a*b} divisible by {b} exactly {count} times.")
else:
    print(f"{a*b} not divisible by {b}.")

Enter the value of a:  5
Enter the value of b:  2

10 not divisible by 2.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print     if the element is divisible by 3 or not.

In [6]:
b=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in b:
    if i%3==0:
        print(f"{i} Number is divisible by 3")
    else:
        print(f"{i} Number is not divisible by 3")

1 Number is not divisible by 3
2 Number is not divisible by 3
3 Number is divisible by 3
4 Number is not divisible by 3
5 Number is not divisible by 3
6 Number is divisible by 3
7 Number is not divisible by 3
8 Number is not divisible by 3
9 Number is divisible by 3
10 Number is not divisible by 3
11 Number is not divisible by 3
12 Number is divisible by 3
13 Number is not divisible by 3
14 Number is not divisible by 3
15 Number is divisible by 3
16 Number is not divisible by 3
17 Number is not divisible by 3
18 Number is divisible by 3
19 Number is not divisible by 3
20 Number is not divisible by 3
21 Number is divisible by 3
22 Number is not divisible by 3
23 Number is not divisible by 3
24 Number is divisible by 3
25 Number is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both     showing this property.

### Answer

Mutable data type: If you are able to change something at particular indexes for a     collection or a datatype, this is called mutability.
    
List are Mutable.

In [30]:
# Ex:
a_3=[1,2,3,4,5,"skills"]
a_3[2]=100
a_3[5]="shyam"

In [28]:
a_3

[1, 2, 100, 4, 5, 'shyam']

Immutable data type: Here i am trying to replace [2]="d" i.e., intead of "k" i would like to replce with "d" but i am not able to do it, so this is called Immutability. 

String are Immutable.

In [31]:
# Ex:
a_4="skills"
a_4[2]="d"

TypeError: 'str' object does not support item assignment